{
  "server": {
    "host": "127.0.0.1",
    "port": 1933,
    "workers": 1,
    "cors_origins": [
      "*"
    ]
  },
  "embedding": {
    "dense": {
      "api_base": "https://api.openai.com/v1",
      "api_key": "YOUR_OPENAI_API_KEY",
      "provider": "openai",
      "dimension": 3072,
      "model": "text-embedding-3-large"
    }
  },
  "vlm": {
    "api_base": "https://api.openai.com/v1",
    "api_key": "YOUR_OPENAI_API_KEY",
    "provider": "openai",
    "model": "gpt-4o-mini"
  }
}
