name: Install and test
on:
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review

jobs:
  install_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: |
          cd ui
          uv sync --all-extras

      - name: Run tests
        run: |
          cd ui
          uv run pytest

      - name: Send to Codecov
        uses: codecov/codecov-action@v5
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
